@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body{
    font-family: 'SeoulNamsanM','Jeju Gothic', sans-serif;
}

:root{
   --white : white;
   --gold : #F69F00; 
   --black : black;
   --pink : #ff848c;
   --blue : #3a6cb3;
}
.bo{
    border: 1px solid red;
}
/*5.캐로셀 안의 이미지 사이즈를 동일하게 맞추거나 화면높이에 이미지 높이 맞추기위해 img태그를 삭제하고 .carousel-item에 이미지를 css로 넣고 코딩으로 사이즈를 맞추기*/

/*10.캐로셀 밖으로 인디케이터 흘러 넘쳐도 숨겨서 스크롤 생기지 않도록 설정*/
#topCarousel{
    overflow: hidden;
    /*top: 77px;*/
}
#topCarousel .carousel-item:nth-of-type(1){
    background: url(../img/carousel_01.jpg) no-repeat center / cover;
    height: 100vh;
}
#topCarousel .carousel-item:nth-of-type(2){
    background: url(../img/carousel_02.jpg) no-repeat center / cover;
    height: 100vh;
}
#topCarousel .carousel-item:nth-of-type(3){
    background: url(../img/carousel_03.jpg) no-repeat center / cover;
    height: 100vh;
}
/*7.캐로셀 안에 캡션대신 넣은 이미지 위치 맞추기*/
#topCarousel .carousel-caption{
    /*border:3px solid red;*/
    position: absolute;
}
#topCarousel .carousel-item:nth-of-type(1) .carousel-caption{
    width: 183px;
    left: 18%;
    bottom: 150px;
    padding-bottom: 50px;
}
#topCarousel .carousel-item:nth-of-type(1) .carousel-caption h5{
    margin-bottom: 20px;
}
#topCarousel .carousel-item:nth-of-type(2) .carousel-caption{
    top: 250px;
}
#topCarousel .carousel-item:nth-of-type(3) .carousel-caption{
    bottom: 80px;
}
#topCarousel .carousel-item:nth-of-type(3) .carousel-caption h5{
    margin-bottom: 30px;
    margin-left: -5px;
}
/*8.캐로셀 배경 이미지를 어둡게 하여 위의 이미지 컨텐츠 부각시키기*/
#topCarousel .carousel-item::after{
     content: "" ;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5
}
/*9.캐로셀 좌우 버튼을 마우스를 올리면 나타나도록 설정*/
#topCarousel .carousel-control-next{
    right:-200px;
    transition: right 1s;
}
#topCarousel .carousel-control-prev{
    left:-200px;
    transition: left 1s;
}
#topCarousel:hover .carousel-control-next{
    right:0px;
}
#topCarousel:hover .carousel-control-prev{
    left:0px;
}
/*11. 캐로셀 좌우 버튼 호버시 색상 바꾸기*/
#topCarousel .carousel-control-next:hover, #topCarousel .carousel-control-prev:hover{
    color:var(--gold);
}
/*12. 캐로셀 하단 인디케이터 버튼 활성화시 스타일 변경*/
#topCarousel .carousel-indicators .active{
    background-color:var(--gold);
}
/*16.loading img 위치 잡기*/
.loading .d-flex img{
    /*border:2px solid red;*/
    position: absolute;
    top:40%;
    width: 200px;
    margin-top: -48px;
}
.loading{
    height: 100vh;
    border:1px solid;
}
/*21. navbar 배경색 customize*/
.bg-black{
    background-color: var(--black)
}
/*25. 네브바에 height를 설정*/
.navbar-nav .nav-link{
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: var(--pink);
}
.navbar-dark .navbar-nav .nav-link{
    color: var(--white);
}
/*29. 세번째 메뉴의 배경이미지*/
section#story{
    background: url(../img/menu3_about_bg.jpg) no-repeat center/ cover;
    padding: 80px;
    margin-top: 50px;
    background-attachment: fixed;
    color: var(--white);
}
/*34. scrollspy를 위한 설정*/
body{
    position: relative;
    height: 100vh;
}
/*39. 윈도우창에 가로스크롤 생기는 부분 처리*/
/*53. 로딩시 가로와 세로스크롤 모두 없애기*/
html,body{
    /*overflow-x: hidden;*/
    overflow: hidden;
}

/*42. 다섯번째 메뉴의 배경이미지*/
section#cf{
    background: url(../img/menu4_background_bg.jpg) no-repeat center/ cover;
    padding: 80px;
    margin-top: 50px;
    background-attachment: fixed;
    color: var(--white);
}
/*52.card-body안의 텍스트 스타일*/
.card-body .card-title{
    color:var(--gold);
}
.card-body .card-text::before{
    content:" ";
    width: 50%;
    height: 4px;
    background-color: var(--gold);
    display: block;
    margin-bottom: 10px;
}
/*59. 마지막 하단에 배경이미지*/
section#contact{
    background: url(../img/menu7_background_bg.jpg) no-repeat center/ cover;
    padding: 80px;
    margin-top: 50px;
    background-attachment: fixed;
    color: var(--white);
}
.btn-black{
    background-color: var(--black);
    color: var(--white);
    border-color: none;
}
.form-control::placeholder{
    color: var(--white);
}
#inputState option{
    color: var(--black);
}
/*애니메이션 효과*/
/*64. waypoint가 작동하기 전 원하는 요소들을 보이지 않도록 설정*/
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9, .wp10, .wp11, .wp12, .wp13, .wp14, .wp15, .wp16, .wp17{
    visibility: hidden;
}
.animate__animated{
    visibility: visible;
}

/*홈페이지 색상컬러*/
.address a{
    color: var(--pink);
}

/*sns hover*/
.fa-instagram::after{
    color: var(--pink)
}